:root {
  /* CSS HEX */
  --tea-green: #ccd5aeff;
  --beige: #e9edc9ff;
  --cornsilk: #fefae0ff;
  --papaya-whip: #faedcdff;
  --buff: #d4a373ff;
  --bistre: #5F3C1C;
}

body {
  text-align: center;
  background-color: var(--cornsilk);
  color: #5F3C1C;
}

.title {
  background-color: var(--papaya-whip);
  border-bottom: var(--buff) solid 6px;
}

.btn {
  box-shadow: inset 0px 1px 3px 0px var(--cornsilk);
  background: linear-gradient(
    to bottom,
    var(--beige) 5%,
    var(--tea-green) 100%
  );
  border: 2px solid var(--tea-green);
  display: inline-block;
  color: var(--bistre);
  text-shadow: 0px -1px 0px var(--tea-green);
}

.btn:hover {
  background: linear-gradient(
    to bottom,
    var(--tea-green) 5%,
    var(--beige) 100%
  );
  background-color: var(--papaya-whip);
  color: var(--bistre);
}

.btn:active {
  position: relative;
  top: 1px;
  color: var(--bistre);
}

.controls,
.output {
  display: none;
}

.sentence {
  background-color: var(--papaya-whip);
  padding: 20px;
  margin: 20px auto;
  width: fit-content;
  border-radius: 20px;
  border: 4px solid var(--tea-green);
}
